# Sublime Text 2 Aliases
alias st='/Applications/Sublime\ Text\ 2.app/Contents/SharedSupport/bin/subl'
alias stt='st .'

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Dropbox"
alias g="git"
alias o="open"
alias oo="open ."
alias wk="cd ~/Works"
alias wp="cd ~/Works/webpesados"

# Mvim
alias v="mvim ."

# Textmate
alias m="mate ."

# Find ruby file
alias rfind='find . -name "*.rb" | xargs grep -n'

# HomeBrew
alias brews='brew list -1'

#gitx
alias gx="gitx ."

# system Processes
# List all files colorized in long format
alias l="ls -Gl"
# List all files colorized in long format, including dot files
alias la="ls -Gla"
# List only directories
alias lsd='ls -l | grep "^d"'
alias tu="top -o cpu" # cpu
alias tm="top -o vsize" # memory
alias e="exit"
alias k9="killall -9"
alias tf="tail -f"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"
alias pg="ps aux | grep"

# General #
alias lserv="open http://localhost:8000 && python -m SimpleHTTPServer"

# Bundle
alias be="bundle exec"
alias bi="bundle install"
alias bl="bundle list"
alias bp="bundle package"
alias bu="bundle update"
alias r="be rspec --no-drb"
alias dep="be cap deploy"

# Rake
alias rr="be rake routes"
alias rrg="be rake routes | grep"
alias migrate="be rake db:migrate db:test:prepare"
alias remigrate="be rake db:migrate && rake db:migrate:redo && rake db:schema:dump db:test:prepare"